// footer
footer.footer
  .footer-inner
    .footer-img-wrapper
      a(href='./')
        img(src='./assets/img/footer-img.png', alt='フッターロゴ' class="footer-pc")
        img(src='./assets/img/sp-footer-img.png', alt='フッターロゴ' class="footer-sp")
    .footer-internal-link-wrapper.clearfix
      .column.c-1
        p 事業紹介
        .column-link
          ul
            li
              a(href='./business/category.html') 事業分野
            li
              a(href='./business/products.html') ものつくり・ことつくり
            li
              a(href='./business/research-and-development.html') 研究開発
      .column.c-2
        p 社員紹介
        .column-link
          ul
            li
              a(href='../member/terabayashi.html') 寺林 真綸
            li
              a(href='../member/komatsuka.html') 駒塚 もも
            li
              a(href='../member/nishigaki.html') 西垣 操
            //- li
            //-   a(href='../member/araki.html') 荒木 桃子
            li
              a(href='../member/yamazaki.html') 山崎 拓
      .column.c-3
        p 社員紹介
        .column-link
          ul
            li
              a(href='../member/ishiguro.html') 石黒 庸平
            li
              a(href='../member/karikawa.html') 刈川 直紀
            li
              a(href='../member/antoku.html') 安徳 知博
      .column.c-4
        p プロジェクトストーリー
        .column-link
          ul
            li
              a(href='./story/01.html') リポビタンD × ラブライブ！
            li
              a(href='./story/02.html') TossSala®
      .column.c-5
        p 企業情報
        .column-link
          ul
            li
              a(href='./company/about.html') 会社概要
            li
              a(href='./company/history.html') トッパンの歩み
            li
              a(href='./company/data.html') データで見るトッパン
      .column.c-6
        p 採用情報
        .column-link
          ul
            li
              a(href='./recruit/message.html') 採用担当者メッセージ
            li
              a(href='./recruit/info.html') 募集要項
            li
              a(href='./recruit/faq.html') FAQ
    .footer-external-link-wrapper
      a(href='./news.html') 最新情報一覧
      a.footer-pc(href='https://job.axol.jp/hk/s/toppan_18/entry/' target='_blank') エントリーページ
      a.footer-pc(href='https://job.axol.jp/hk/s/toppan_18/mypage/login' target='_blank') マイページ
      a(href='https://www.facebook.com/toppanrecruit' target='_blank') 採用Facebookページ
      a(href='http://www.toppan.co.jp/policy.html'  target='_blank') サイトポリシー
      a(href='http://www.toppan.co.jp/privacy.html'  target='_blank') 個人情報保護方針
      a.footer-pc(href='http://www.toppan.co.jp/' target="_blank") 凸版印刷コーポレートサイト

    .copyright
      p Copyright © 2017 TOPPAN PRINTING CO., LTD.
// /footer
