// header
header.header
  a(href='index.html')
    img(src='assets/img/logo.png', alt='TOPPAN 2018 Recruit ロゴ' class="logo")
  nav.nav-pc.clearfix
    ul.nav-contents-link
      li
        a.txt-link(href='business/index.html') 事業紹介
      li
        a.txt-link(href='member/index.html') 社員紹介
      li
        a.txt-link(href='story/index.html') プロジェクトストーリー
      li
        a.txt-link(href='company/index.html') 企業情報
      li
        a.txt-link(href='recruit/index.html') 採用情報
    ul.nav-external-link
      li
        a.header-btn(href='https://job.axol.jp/hk/s/toppan_18/entry/', onclick="return (VL_FileDL(this))", vlpageid=entry_prm)
          img(src='assets/img/entry_btn.png', alt='エントリーボタン' class="pc")
      li
        a.header-btn(href='https://job.axol.jp/hk/s/toppan_18/mypage/login', onclick="return (VL_FileDL(this))", vlpageid=mypage_prm)
          img(src='assets/img/my_page_btn.png', alt='マイページボタン' class="pc")
  p.navBtn
    span
    span
    span
  .hide-navi
    ul.acMenu
      li.navi-title
        span.navi-border-btm 事業紹介
        ul.navi-link.clearfix
          li.navi-link-one-column
            a.navi-border-btm(href='business/index.html') 事業紹介トップ
          li
            a.navi-border-btm(href='business/category.html') 事業分野
          li
            a.navi-border-btm(href='business/products.html') ものつくり・ことつくり
          li.navi-link-one-column
            a.navi-border-btm(href='business/research-and-development.html') 研究開発
      li.navi-title
        span.navi-border-btm 社員紹介
        ul.navi-link.clearfix
          li.navi-link-one-column
            a.navi-border-btm(href='member/index.html') 社員紹介トップ
          li
            a.navi-border-btm(href='member/terabayashi.html') 寺林真綸
          //- li
          //-   a.navi-border-btm(href='member/araki.html') 荒木桃子
          li
            a.navi-border-btm(href='member/komatsuka.html') 駒塚もも
          li
            a.navi-border-btm(href='member/nishigaki.html') 西垣操
          li
            a.navi-border-btm(href='member/karikawa.html') 刈川直紀
          li
            a.navi-border-btm(href='member/yamazaki.html') 山崎拓
          li
            a.navi-border-btm(href='member/antoku.html') 安徳知博
          li
            a.navi-border-btm(href='member/ishiguro.html') 石黒庸平
      li.navi-title
        span.navi-border-btm プロジェクトストーリー
        ul.navi-link.clearfix
          li.navi-link-one-column
            a.navi-border-btm(href='story/index.html') プロジェクトストーリートップ
          li
            a.navi-border-btm(href='story/01.html') リポビタンD × ラブライブ！
          li
            a.navi-border-btm(href='story/02.html') TossSala®
      li.navi-title
        span.navi-border-btm 企業情報
        ul.navi-link.clearfix
          li.navi-link-one-column
            a.navi-border-btm(href='company/index.html') 企業情報トップ
          li
            a.navi-border-btm(href='company/history.html') トッパンの歩み
          li
            a.navi-border-btm(href='company/data.html') データで見るトッパン
          li.navi-link-one-column
            a.navi-border-btm(href='company/about.html') 会社概要
      li.navi-title
        span.navi-border-btm 採用情報
        ul.navi-link.clearfix
          li.navi-link-one-column
            a.navi-border-btm(href='recruit/index.html') 採用情報トップ
          li
            a.navi-border-btm(href='recruit/message.html') 採用担当者メッセージ
          li
            a.navi-border-btm(href='recruit/info.html') 募集要項
          li.navi-link-one-column
            a.navi-border-btm(href='recruit/faq.html') FAQ
    ul.sp-notacMenu.clearfix
      li.navi-title
        a.navi-border-btm(href='https://job.axol.jp/hk/s/toppan_18/entry/', onclick="return (VL_FileDL(this))", vlpageid=entry_prm)
          img(src='assets/img/sp-menu-entry-btn.png')
      li.navi-title
        a.navi-border-btm(href='https://job.axol.jp/hk/s/toppan_18/mypage/login', onclick="return (VL_FileDL(this))", vlpageid=mypage_prm)
          img(src='assets/img/sp-menu-mypage-btn.png')
    ul.sp-notacMenu.clearfix
      li.navi-title
        a.navi-border-btm(href='news.html') 最新情報
      li.navi-title.navi-title-external-link
        a.navi-border-btm(href='https://www.facebook.com/toppanrecruit',target="_blank") 採用Facebookページ
    ul.sp-notacMenu.clearfix
      li.navi-title.navi-title-external-link
        a.navi-border-btm(href='http://www.toppan.co.jp/policy.html',target="_blank") サイトポリシー
      li.navi-title.navi-title-external-link
        a.navi-border-btm(href='http://www.toppan.co.jp/privacy.html',target="_blank") 個人情報保護方針
    ul.sp-notacMenu.clearfix
      li.navi-title.navi-title-external-link
        a.navi-border-btm(href='http://www.toppan.co.jp/',target="_blank") コーポレートサイト
    .hide-navi-logo
      img(src='assets/img/sp-menu-logo.png')

// /header
