// Visionalist analytics tag
div
  script(type='text/javascript')
    | //<![CDATA[
    | VLTrace_custom_getparam='p=#{visionalist_prm}';
    | //]]>
  script(type='text/javascript', src='/library/vl/ct15142.js')
// /Visionalist analytics tag
