extend /_includes/_layout_s
append variables
  //- Required
  - var pageTitle= "「リポビタンD」×「ラブライブ！」｜プロジェクトストーリー｜凸版印刷｜2018年度新卒採用サイト";
  - var pageDescription= "「リポビタンD」×「ラブライブ！」のプロジェクトのご紹介。凸版印刷株式会社の2018年度新卒採用サイトです。トッパンの事業や製品、社員へのインタビュー、プロジェクトストーリー、採用担当者メッセージ、募集要項、よくあるご質問などをご紹介しています。";
  - var pageKeywords= "ストーリー,凸版印刷";
  //- Optional
  - var pageOgpTitle= "";
  - var pageOgpImage= "test";
  - var pageLang= "ja";
  - var pageOgpType= "article";
  //- Not modified
  - var pageUrl= "story/01.html";
  //- visionalist
  - var visionalist_prm= "rc100116";

block content
  // contents
  .story-detail-content.swiper-container.wow.fadeInUp(data-wow-delay='0.1s')
    .key_visual-inner-bread_crumb.story-breadcrumb
        ul
          li
            a(href='../') トップページ
            | &gt;
          li
            a(href='../story') プロジェクトストーリー
            | &gt;
          li
            a(href='#') リポビタンD × ラブライブ！
    .swiper-wrapper
      .swiper-slide.slide-bg-1-1
        .swiper-slide-title.wow.fadeInUp(data-wow-delay='1s')
          img(src='../assets/img/story/story-1-ttl.png', alt='' class="swiper-slide-title-icon")
          h1.swiper-slide-title-ttl
            | 大正製薬
            span.br 「リポビタンD」×「ラブライブ！」
      .swiper-slide.swiper-slide-2
        .swiper-slide-txt-2.swiper-slide--display.not-swiper-slide
          h2.swiper-slide-txt-2-ttl リポビタンD × ラブライブ！
          .swiper-slide-txt-2-border
          p PROJECT MEMBER
          ul.story-slide-2-member
            li.story-slide-2-member-group 1992年入社
            li.story-slide-2-member-group 情報コミュニケーション事業本部　トッパンアイデアセンター　クリエイティブ本部 / 企画
            li.story-slide-2-member-member 櫻井健一
          ul.story-slide-2-member
            li.story-slide-2-member-group 2007年入社
            li.story-slide-2-member-group 生活・産業事業本部　パッケージソリューション事業部　第五営業本部 / 営業
            li.story-slide-2-member-member 中藤佳邦
          ul.story-slide-2-member
            li.story-slide-2-member-group 2011年入社
            li.story-slide-2-member-group 情報コミュニケーション事業本部　第四営業本部 / 営業
            li.story-slide-2-member-member 平山正俊
          p.story-slide-2-lede 大正製薬が誇るNo.1栄養ドリンク剤「リポビタンD」。2010年代有数のヒットコンテンツ「ラブライブ！」。それぞれが多大なブランド力を持つ両者を取り持ったプロジェクトの中心人物3人が語る、大型コラボレーションを行う苦労ややりがいとは？
        .product_img
          img(src='../assets/img/story/lovelive.png', alt='')
      .swiper-slide.slide-bg-1-3
        .swiper-slide-txt.swiper-slide-txt-1-3.swiper-slide--display.not-swiper-slide
          h2.swiper-slide-txt-3-ttl.swiper-slide-txt-ttl 栄養ドリンク剤No.1と超人気アニメのタイアップ
          p.swiper-slide-txt-item プロジェクトのはじまりは、大正製薬（ライセンシー）担当営業の中藤がタイアップするのにいいコンテンツはないかと相談を受けたことからだった。
          p.swiper-slide-txt-item 中藤「リポビタンDの知名度は、ほとんど100％。そんななかで、売上を伸ばすために取り組んでいたのは “名前は知っているけれど飲んだことはない”という層に、一度飲むきっかけをつくることでした。そしてそのきっかけとして、アクティブなファンを持つコンテンツとのタイアップを検討されていたんです」
          p.swiper-slide-txt-item
            | 奇しくも当時、トッパン社内でもコンテンツタイアップを生み出していこうという動きが活発だった。前後して、バンダイグループ担当営業である平山がラブライブ！が映画化されるという情報を聞きつけていた。
            .br 平山「時代を代表するような大ヒット作品で、影響力も絶大でしたから、何かトッパンのビジネスにつなげられないかなと考えていました」
          p.swiper-slide-txt-item それぞれ別々の理由で、ライツビジネスを担当する櫻井に相談したことで、プロジェクトは動き出す。
          p.swiper-slide-txt-item 「相談を受けたとき、すぐに２つが繋がりました。リポビタンDは若年層にアプローチすることを求めており、ラブライブ！のファン層はまさに10代、20代が中心と、ドンピシャでした。それに、製品と作品にはちょっとした、でも重要な共通点があったんです。」
          p.swiper-slide-txt-item リポビタンDのキャッチコピーと言えば「ファイト一発！」。ラブライブ！の主人公・高坂穂乃果の決め台詞は「ファイトだよっ！」。ファイトという言葉のつながりがあることで、両者がタイアップすることの必然性が演出できる。櫻井の仲介でつながった中藤と平山はそれぞれライセンサー/ライセンシーへの説得をはじめた。
        .slide_down_icon
      .swiper-slide.slide-bg-1-4
        .swiper-slide-txt.swiper-slide-txt-1-4.swiper-slide--display.not-swiper-slide
          h2.swiper-slide-txt-4-ttl.swiper-slide-txt-ttl 資料で、ライブで。あらゆる手段で伝える作品の魅力
          p.swiper-slide-txt-item バンダイグループのサンライズ（ライセンサー）は、映画の公開を前に、大正製薬が一緒に作品を盛り上げてくれることを喜び、タイアップには乗り気だった。　一方で、大正製薬（ライセンシー）は初回提案時の感触はあまり良くなかった。ラブライブ！は、全年齢的に知られているわけではなく、担当者も作品のことを知らなかった。
          p.swiper-slide-txt-item 中藤「硬派なイメージもあるブランドですから、女子高生が主人公ということにも引っ掛かりがあったようです。ただ、ブランドのためになることなら新しいチャレンジもしようという熱意のある方々ですから、話は熱心に聞いていただけました。トッパンアイデアセンターのプロモーション企画部隊と共に半年以上かけて提案活動を行いました。」
          p.swiper-slide-txt-item ラブライブ！の提案をおこなった平山は、ライセンシーの姿勢を見て、丁寧に説明すればきっと同意してもらえると確信したという。
          p.swiper-slide-txt-item
            | 平山「大正製薬様が想定されていなかった提案だからといって否定するでもなく、冷静に作品の人気度や作品の内容について質問いただいたんです。作品のパワーには自信があったので、それを正しく伝えればきっと伝わるはずだと思って。μ's（ミューズ）※のライブでの観客の熱狂ぶりや、スマホゲームの盛り上がりなど、いろんな角度から紹介しました。」
          p.swiper-slide-txt-item ※μ'sはラブライブ！に登場する9人組女性アイドルグループ。声を演じる声優9人によってライブや配信番組などの活動も行われていた。
          p.swiper-slide-txt-item ファンの多さと影響力の強さが伝わり、タイアップ実施が決まった。だが、コンテンツタイアップが大変なのはここからだ。
          p.swiper-slide-txt-item 櫻井「ライセンシーはコンテンツの力を最大限借りたがるものですし、ライセンサーは自分たちの作品を傷つけまいとするので、間に入る我々がお互いの主張を調整しながら落としどころを見つけなくてはいけません。ライツビジネスの一番難しいところですね」
        .slide_down_icon
      .swiper-slide.slide-bg-1-5
        .swiper-slide-txt.swiper-slide-txt-1-5.swiper-slide--display.not-swiper-slide
          h2.swiper-slide-txt-5-ttl.swiper-slide-txt-ttl 受け継ぎ、育ててゆくライツビジネス
          p.swiper-slide-txt-item トッパンがライツビジネスというと、意外に思う人もいるかもれないが、その歴史は古く1990年代には今の原型となるビジネスを行っていた。2000年代に入り、プロモーションにキャラクターを使用することが一般的になる。そのさなか、2004年にはライツを専門に扱う部署が設置された。櫻井はその設立当初からのメンバーだ。
          p.swiper-slide-txt-item 櫻井「漫画やアニメはもちろん、アパレルブランドや実在の人物のライツも扱ってきました。キャリアが長い分、版元が気にすることも想像できるし、交渉の引き出しも持っているつもりです」
          p.swiper-slide-txt-item そんな櫻井の協力を得ながら、中藤と平山は調整を進める。パッケージにはどんなデザインにするのか？ 文言は？ ノベルティグッズは？ 考慮すべきことが無数にあるなかで、１つずつ同意を得ていった。
          p.swiper-slide-txt-item 平山「パッケージのサイズの問題で、9人のメンバー全員を載せることはできませんでした。そうすると、どのメンバーをどのように掲載するか、ラブライブ！ファンの方が買っていただいた際に喜ばれるパッケージデザインとは？という議論が生まれました。ファンの愛がそのまま作品の価値になっているので、神経質なくらい気にしました。」
          p.swiper-slide-txt-item そんな地道な調整を経て実施したタイアップキャンペーンはライセンサー、ライセンシー、生活者それぞれから大好評だった。
          p.swiper-slide-txt-item 中藤「SNSなどを使ったリサーチでは、おもしろい取り組みだという好意的な意見が多く見られました。やはりリアルな声の力は強く、それを見たクライアントは喜ばれていました。トッパンとしては、大きなタイアップをやり切れる調整力や実行力をアピールできたと思っています。実際、それ以降も継続してお仕事をいただいています。」
          p.swiper-slide-txt-item 会社が蓄えてきたノウハウを、若手社員が吸収しながらプロジェクトを成功に導く。そんな連鎖の日々がつながることでビジネスは大きくなっていく。
        .slide_down_icon
      .swiper-slide.last-slide
        a(href='02.html', class='project-story-link')
          img(src='../assets/img/story/story-btn-2.png', class='pc story-end-img')
          img(src='../assets/img/story/sp-story-btn-2.png', class='sp story-end-img')
        .business-transition-link-wrapper.project-story-bottom-nav
          .business-transition-link
            .blank
            a.business-transition-link-top-a(href='../story')
              .business-transition-link-top
                i.fi-thumbnails
                p プロジェクトストーリーの
                  br.sp_only
                  |トップに戻る
            .blank

    .swiper-pagination
  // /contents
