extend /_includes/_layout
append variables
  //- Required
  - var pageTitle= "研究・開発｜凸版印刷｜2018年度新卒採用サイト";
  - var pageDescription= "トッパンの研究・開発のご紹介。凸版印刷株式会社の2018年度新卒採用サイトです。トッパンの事業や製品、社員へのインタビュー、プロジェクトストーリー、採用担当者メッセージ、募集要項、よくあるご質問などをご紹介しています。";
  - var pageKeywords= "トッパンの研究,凸版印刷";
  //- Optional
  - var pageOgpTitle= "";
  - var pageOgpImage= "test";
  - var pageLang= "ja";
  - var pageOgpType= "article";
  //- Not modified
  - var pageUrl= "business/research-and-development.html";
  //- visionalist
  - var visionalist_prm= "rc100105";

block content
  // contents
  .business-r-key_visual
    .key_visual-inner
      .key_visual-inner-bread_crumb
        ul
          li
            a(href='../') トップページ
            | &gt;
          li
            a(href='../business/index.html') 事業紹介
            | &gt;
          li
            a(href='#') 研究開発
      .key_visual-inner-txt-wrapper.wow.fadeInUp(data-wow-delay='0.1s')
        .key_visual-inner-txt-wrapper-hd
          h1 R＆D
        .key_visual-inner-txt-wrapper-sub
          p 研究開発
        .key_visual-inner-txt-wrapper-txt
          p トッパンの研究・開発の一例をご紹介します。

  .contents-width
    .appear
      .business-r-contents-wrapper.fiu.animated
        .business-r-contents-wrapper-rd.blue
          .business-r-contents-wrapper-rd-img
            img(src='../assets/img/business/business-r-contents-01.png', alt='パッケージ')
          .business-r-contents-wrapper-rd-contents-wrapper
            .business-r-contents-wrapper-rd-contents-wrapper-inner
              .business-r-contents-wrapper-rd-contents-hd
                h2 パッケージ
              .business-r-contents-wrapper-rd-contents-txt
                p 透明バリアフィルム「GL(Good Layer)FILM」は、トッパンのコーディング技術や薄膜成型技術を核に生みだした高付加価値商材。正解の透明バリアフィルム市場におけるデファクトスタンダードとしてトップシェアを誇ります。さらに「GL FILM」で培った技術を食品、医療医薬、エレクトロニクス、産業資材といった分野に展開し、「業界ナンバーワンのバリア性能」をさらに進化させていきます。
    .appear
      .business-r-contents-wrapper.fiu.animated
        .business-r-contents-wrapper-rd.white.reverse
          .business-r-contents-wrapper-rd-img
            img(src='../assets/img/business/business-r-contents-02.png', alt='デジタルコンテンツ')
          .business-r-contents-wrapper-rd-contents-wrapper
            .business-r-contents-wrapper-rd-contents-wrapper-inner
              .business-r-contents-wrapper-rd-contents-hd
                h2 デジタルコンテンツ
              .business-r-contents-wrapper-rd-contents-txt
                p 文字や画像情報のデジタル化技術を基盤として、トッパンはデータベース構築やネットワーク運用、セキュリティ、コンテンツ配信技術など、IT関連技術を蓄積してきました。この蓄積のもと、先進的な情報技術や企画開発力、マーケティング力などを駆使して、オリジナル性の高いビジネス送出に向けた研究開発を推進しています。
    .appear
      .business-r-contents-wrapper.fiu.animated
        .business-r-contents-wrapper-rd.blue
          .business-r-contents-wrapper-rd-img
            img(src='../assets/img/business/business-r-contents-03.png', alt='半導体')
          .business-r-contents-wrapper-rd-contents-wrapper
            .business-r-contents-wrapper-rd-contents-wrapper-inner
              .business-r-contents-wrapper-rd-contents-hd
                h2 半導体
              .business-r-contents-wrapper-rd-contents-txt
                p フォトマスクは、半導体の回路をシリコンウェハ上に・者する際に用いられる回路原版です。次世代半導体製造プロセスである回路線幅10nm(ナノメートル：1nmは1/100万mm)に対応するフォトマスクを米国IBM社と共同開発しています。すでに量産段階に移行している20nm対応フォトマスク製造、ならびに開発が完了した14nmをベースに、10nmプロセスの早期確立を目指します。
    .appear
      .business-r-contents-wrapper.fiu.animated
        .business-r-contents-wrapper-rd.white.reverse
          .business-r-contents-wrapper-rd-img
            img(src='../assets/img/business/business-r-contents-04.png', alt='光学部材')
          .business-r-contents-wrapper-rd-contents-wrapper
            .business-r-contents-wrapper-rd-contents-wrapper-inner
              .business-r-contents-wrapper-rd-contents-hd
                h2 光学部材
              .business-r-contents-wrapper-rd-contents-txt
                p クレジットカードなどに使われるセキュリティ用のホログラムや有機EL照明用の効率向上シートなど、光を制御するフィルム製品の研究開発に取り組んでいます。セキュリティ用途においては、独自の光学設計技術と微細加工技術とを駆使して、画素構造ホログラム技術を世界に先駆けて開発し、実用化しました。今後も様々な分野へ新しい光学部材を提案していきます。
    .appear
      .business-r-contents-wrapper.fiu.animated
        .business-r-contents-wrapper-rd.blue
          .business-r-contents-wrapper-rd-img
            img(src='../assets/img/business/business-r-contents-05.png', alt='リチウムイオン二次電池関連部材')
          .business-r-contents-wrapper-rd-contents-wrapper
            .business-r-contents-wrapper-rd-contents-wrapper-inner
              .business-r-contents-wrapper-rd-contents-hd
                h2 リチウムイオン二次電池関連部材
              .business-r-contents-wrapper-rd-contents-txt
                p リチウムイオン二次電池用の各種外装材、またシーラントフィルムなどの関連部材を供給しています。外装材については、スマートフォンなど各種モバイル機器から環境対応型自動車向けまで、あらゆる用途に対応します。
    .appear
      .business-r-contents-wrapper.fiu.animated
        .business-r-contents-wrapper-rd.white.reverse
          .business-r-contents-wrapper-rd-img
            img(src='../assets/img/business/business-r-contents-06.png', alt='遺伝子解析装置・SNPチップ')
          .business-r-contents-wrapper-rd-contents-wrapper
            .business-r-contents-wrapper-rd-contents-wrapper-inner
              .business-r-contents-wrapper-rd-contents-hd
                h2 遺伝子解析装置・SNPチップ
              .business-r-contents-wrapper-rd-contents-txt
                p 近年の薬理遺伝子学の研究により、薬剤の効能は、人の多様性を示す遺伝子(SNP)と深い関連があることが分かってきました。個人の体質に合った最適な医療の提供を実現するために、トッパンは理化学研究所と共同で遺伝し解析システムおよびチップを開発。社会のQOL(生活の質)向上に寄与しています。

  .business-transition-link-wrapper
    .business-transition-link
      a.business-transition-link-prev-a(href='../business/products.html')
        .business-transition-link-prev
          i.fa.fa-angle-double-left(aria-hidden='../business/index.html')
          p ものつくり・
            br
          | ことつくりを知る
      a.business-transition-link-top-a(href='../business/index.html')
        .business-transition-link-top
          i.fi-thumbnails
          p 事業紹介の
            br.sp_only
            |トップに戻る
      .blank

  // /contents
