extend /_includes/_layout
append variables
  //- Required
  - var pageTitle= "採用担当者メッセージ｜凸版印刷｜2018年度新卒採用サイト";
  - var pageDescription= "採用担当者メッセージのご紹介。凸版印刷株式会社の2018年度新卒採用サイトです。トッパンの事業や製品、社員へのインタビュー、プロジェクトストーリー、採用担当者メッセージ、募集要項、よくあるご質問などをご紹介しています。";
  - var pageKeywords= "採用情報,凸版印刷";
  //- Optional
  - var pageOgpTitle= "";
  - var pageOgpImage= "test";
  - var pageLang= "ja";
  - var pageOgpType= "article";
  //- Not modified
  - var pageUrl= "recruit/message.html";
  //- visionalist
  - var visionalist_prm= "rc100123";

block content
  // contents
  .recruit-m-key_visual
    .key_visual-inner
      .key_visual-inner-bread_crumb
        ul
          li
            a(href='../') トップページ
            | &gt;
          li
            a(href='../recruit/index.html') 採用情報
            | &gt;
          li
            a(href='#') メッセージ

  .recruit-main-message
    .recruit-main-inner
      h1 MESSAGE
      p 可能性を絞るには、早すぎる。

  .contents-width
    .appear
      .recruit-m-contents-wrapper.fiu.animated
        .recruit-m-contents-inner
          .recruit-m-contents-txt
            p
              | 1900年に創業して以来、「印刷」という枠にとらわれることなく今日まで事業領域を拡大し続けてきたトッパンの歩みは、
              br.br-pc
              | イノベーションの連続でした。社会的な要請やお客様の課題に「誠意」をもって向き合い、「熱意」を込めて挑戦し、
              br.br-pc
              | 「創意」を凝らすことで解決策を生み出していく。
              br.br-pc
              | その連鎖によって技術は進化し、私たちを取り巻く世界をも変えてきました。
          .recruit-m-contents-txt
            p
              | いまトッパンが求めている人財は、まさにビジネスにイノベーションをもたらすことのできる人財です。
              br.br-pc
              | まだ誰も知らない、「新しい価値」をつくり出してほしい。
              br.br-sp
              | そのためには、失敗を恐れることなく、常に新しいことに挑み続ける勇気を持つことが大切です。
              br.br-pc
              | トッパンには、長年培った多種多様なソリューションや、あらゆる業界のお客様と築いてきた信頼関係があります。
              br.br-sp
              | そして、若いうちからチャレンジできる風土と、それを支えてくれる頼りになる仲間がいます。
              br.br-pc
              | これら土台の上に、無限大の可能性が広がっているのです。
          .recruit-m-contents-txt
            p.recruit-m-contents-txt-bold.m-fzup “ 可能性を絞るには、早すぎる。”
          .recruit-m-contents-txt
            p
            | 明日の世界を変えるのは、あなたです。
            br.br-sp
            | 私たちはチャレンジ精神にあふれる皆さんとお会いできるのを楽しみにしています。
          .recruit-m-contents-txt
            p.recruit-m-contents-txt-bold 採用担当者一同

  .business-transition-link-wrapper
    .business-transition-link
      .blank
      a.business-transition-link-top-a(href='../recruit/index.html')
        .business-transition-link-top
          i.fi-thumbnails
          p 採用情報の
            br
            | トップに戻る
      .blank

  // /contents
